{% extends "base.html" %}

{%block title%}
Football Academy - About
{% endblock %}

{% block body %}
<h1> Football Academy-ის შესახებ</h1>

<body>
<div class="container">

    <ul>
        <li>Football Academy არის ონლაინ მაღაზია, სადაც იყიდება მაღალი ხარისხის ფეხბურთის აქსესუარები იაფად.</li
    </ul>
</div>
<br>
<hr>

<h1>მიზეზი</h1>

<div class="container">
    <ul>
        <li>Football Academy შექმნა გადავწყვიტე,რადგან რთულია კარგი ხარისხიანი ბუცების,ფორმების და დანარჩენი
            აქსესუარების
            იყიდვა საქართველოში მისაღებ ფასად. უმრავლესობა მაღაზიისა არ აქვს ონლაინ გამართული საიტი, რომელიც საშუალებას
            აძლევს ბავშვებს დეტალურად ნახონ კოლექციები,ზომები და ფასები.ამ მიზეზებით გამო გადავწყვიტე გავაკეთო
            საფეხბურთო
            მაღაზია ,რომელიც გაყიდის ხარისხიან საფეხბურთო აქსესუარებს ყველას ბიუჯეტის გათვალისწინებით.
        </li>
    </ul>

</div>
<br>
<hr>

<h1>აუდიტორია</h1>

<div class="container">
    <ul>
        <li>ჩემი მაღაზია მიიზიდავს არა მარტო ფეხბურთელებს არამედ, უბრალოდ მოყვარულებს,პერსონალურ ტრენერებს და ასევე
            კოლექციონერებსაც, რადგან იქნება ყველანაირი ხარისხიანი აქსესუარები: ბუცები,შიპოვკები,ფორმები,გეტრები,გრიპ
            სოკები,შიტოკები,ფიშკები,კარები,მეკარის ხელთათმანები,ტერმო ტანსაცმელი,ხელმოწერილი ფორმები და სხვა ბევრი.
            ზუსტად ამ არჩევნის მრავალფეროვნება მოიზიდავს ხალხს ჩემს მაღაზიაში.
        </li>
    </ul>

</div>
<br>
<hr>

<h1>აუდიტორია</h1>

<div class="container">
    <ul>
        <li>ჩემი მაღაზია გამორჩეულია,რადგან ჩემს ვებგვერდით ხალხს ექნება საშუალება დაუკავშირდეს თბილისში ყველა გუნდს,რადგან ვებგვერდზე იქნება ამ
            გუნდების შესახებ ინფორმაცია მოცემული რომელის დახმარებითაც შეეძლება მოიმხმარებელს დაუკავშირდეს საფეხბურთო კლუბს და შემდეგ მივიდეს გუნდში სავარჯიშოდ.
            ასევე ჩემი საიტიდან ვინც გამოიწერს რაიმე ნივთს თბილისი მაშტაბით იქნება უფასო მიწოდება,ხოლო საქართველოს მაშტაბით ფასიანი მიტანა.
        </li>
    </ul>

</div>







<br>
<hr>

<h1>ძირითადი გზავნილი</h1>

<div class="container">
    <ul>

        <li>“ფეხბურთის თამაში არის მარტივია,როდესაც კომფორტულად თამაშობ.”

        </li>
    </ul>

</div><br>

<hr>

<h1>მოსალოდნელი შედეგი</h1>

<div class="container">
    <ul>

        <li>ჩემ ონლაინ მაღაზიას ეყოლება თვეში 500-1000 მომხმარებელი და მომხმარებლები იქნებიან ბავშვები რომებიც იწყებენ ფეხბურთის თამაშს,
            მოყვარულები,პროფესიონალები,პერსონალური ტრენერები და ბერვი სხვა.


        </li>
    </ul>

</div>
<br>
<hr>

<h1>მოსალოდნელი შედეგი</h1>

<div class="container">
    <ul>

        <li>ჩემ ონლაინ მაღაზიას ეყოლება თვეში 500-1000 მომხმარებელი და მომხმარებლები იქნებიან ბავშვები რომებიც იწყებენ ფეხბურთის თამაშს,
            მოყვარულები,პროფესიონალები,პერსონალური ტრენერები და ბერვი სხვა.


        </li>
    </ul>

</div>
<br>
<hr>
<h1>რას შეცვლის ჩემი მაღაზია</h1>

<div class="container">
    <ul>

        <li>ჩემი ონლაინ მაღაზია მისცემს მომხმარებელს დიდ არჩევანს რომელიც დაეხმარება რომ კომფორტულად და ლამაზად გამოეწყოს და
            ამ აქსესუარებით შემდეგ, მივიდეს ახალ საფეხბურთო კლუბში ჩვენი საიტის დახმარებით
            ჩემი ონლაინ მაღაზიის დახმარებით ბავშვები ადვლიად ჩაირიცხებიან საფეხბურთო კლუბებში ადგილმდებარეობის ან სურვილის მიხედვით.


        </li>
    </ul>
<hr>
<h1>TBC TechSchool</h1>

<div class="container">
    <a href="https://www.tbceducation.ge">
        <img src="/static/images/tbc.PNG" style="height: 200px; object-fit: contain;" alt="Clickable Photo" class="clickable-photo"></a>

</div>
<br>

{% endblock %}